@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="sampleInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#IconInput id="labCode" name="实验室编号" underline="true" icon="glyphicon glyphicon-ok"/>
                    <#IconInput id="sampleNumber" name="样本编号" underline="true" icon="glyphicon glyphicon-ok"/>
                    <#IconInput id="detectionItem" name="检测项目" underline="true" icon="glyphicon glyphicon-book"/>
                    <#IconInput id="salesman" name="销售员" underline="true" icon="glyphicon glyphicon-user"/>
                    <#IconInput id="subjectName" name="受检者" underline="true" icon="glyphicon glyphicon-user"/>
                    <#TimeConPlus id="acceptDate" name="收样日期,格式如:2017-08-17" underline="true" isTime="false" pattern="YYYY-MM-DD" icon="glyphicon glyphicon-calendar" />
                    <#IconInput id="detectionDuration" name="检测所需时间" underline="true" icon="glyphicon glyphicon-time"/>
                    <#TimeConPlus id="expectedReportTime" name="理论出报告时间，格式如:2017-08-17" underline="true" isTime="false" pattern="YYYY-MM-DD" icon="glyphicon glyphicon-calendar"/>
                </div>

                <div class="col-sm-6">
                    <#IconInput id="extracted" name="是否已提取" underline="true" icon="glyphicon glyphicon-tint" list="extractedList"/>
                    <datalist id="extractedList">
                        <option value="已提取"/>
                        <option value="未提取"/>
                    </datalist>
                    <#IconInput id="sampleType" name="样品类型" underline="true" icon="glyphicon glyphicon-plus" list="sampleTypeList"/>
                    <datalist id="sampleTypeList">
                        <option value="血液"/>
                        <option value="唾液"/>
                        <option value="组织"/>
                        <option value="切片"/>
                        <option value="蜡块"/>
                        <option value="streck管"/>
                        <option value="其他"/>
                    </datalist>
                    <#IconInput id="plasmaSeparation" name="血浆分离情况" underline="true" icon="glyphicon glyphicon-heart-empty"/>
                    <#IconInput id="transportCondition" name="运输条件" underline="true" icon="glyphicon glyphicon-plus" list="transportConditionList"/>
                    <datalist id="transportConditionList">
                        <option value="常温"/>
                        <option value="干冰"/>
                        <option value="冰袋"/>
                        <option value="其他"/>
                    </datalist>
                    <#IconInput id="sampleStorage" name="样本存储位置" underline="true" icon="glyphicon glyphicon-home"/>
                    <#textarea id="remark" name="备注" underline="true" icon="glyphicon glyphicon-bookmark"></#textarea>
                    <#PictureUpload id="picture" name="上传图片" uploadImg=""/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SampleInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SampleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/business/sample/sample_info.js"></script>
@}
